<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">

    
    <div class="nav justify-content-left">
      <a class="navbar-brand mb-01 h1" routerLink='/' routerLinkActive="activebutton">{{ title }}</a>
    </div>

    <div class="d-none d-md-block">
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>

    <div class="nav justify-content-right">
      <a class="nav-link" href="#">Login</a>
    </div>
    

</nav>
<router-outlet></router-outlet>